
<div class="gallery-container">
  <div>
    <h3 class="p-2" style="color: rgb(122, 122, 122);text-transform: capitalize;">Free <%= query %> Photos</h3>
  </div>
</div>
<% if ( result?.length == 0) { %>
<h1>No Data</h1>
<% } else { %>
<div class="container mb-3">
  <div class="row">
    <% for( let i = 0; i < result?.length; i++ ) { %>
    <div class="col-md-4 mb-3">
      <div class="card position-relative" data-aos="fade-up" data-duration="1000">
        <a href="<%= result[i].url %>">
          <img
            loading="lazy"
            src="<%= result[i].src.large %>"
            class="card-img-top rounded gallery-img"
            alt="..."
            height="300"
            style="object-fit: cover;"
          />
        </a>

        <a
          href="<%= result[i].photographer_url %>"
          class="text-decoration-none text-light"
          style="position: absolute; bottom: 20px; left: 10px; font-weight: 800"
          ><%- result[i].photographer %></a
        >

        <a
          style="
            font-size: 20px;
            position: absolute;
            bottom: 20px;
            right: 20px;
            font-weight: 800;
          "
          href="<%=result[i].src.original%>"
          download
          class="text-decoration-none text-light"
        >
          <i class="bi bi-download bg bg-light text-secondary p-2 rounded"></i>
        </a>

        <% if(result[i].liked){ %>
        <i
          style="
            font-size: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            font-weight: 800;
          "
          class="bi bi-heart-fill bg bg-light text-danger p-2 rounded"
        ></i>
        <%}else{%>
        <i
          style="
            font-size: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            font-weight: 800;
          "
          class="bi bi-heart bg bg-light text-secondary p-2 rounded"
        ></i>
        <%} %>
      </div>
    </div>

    <% } %>

    
  </div>
</div>

<% } %>